* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0080ff;
  padding: 10px 20px;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 0;
  height: 75px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.tab {
  color: white !important;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 30px 30px 0 0 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background 0.3s;
  border-bottom: 0;
  border: none !important;
}
.underline {
  margin-left: 10px;
  background: #ff4b5c;
}
.tab:hover {
  text-decoration: underline;
}
.tab.active {
  text-decoration: none;
  background-color: #ffffff !important;
  color: #006edc !important;
  padding-bottom: 20px;
  border-bottom: 0;
  margin-top: 11px;
}

.tab:hover {
  background-color: #006edc;
}

.logout {
  background-color: #ff4b5c;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background 0.3s;
}

.logout:hover {
  background-color: #e53b4c;
}

.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}
.nav {
  position: fixed;
  width: 100%;
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .tabs {
    display: none;
    flex-direction: column;
    background-color: #0080ff;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
  }

  .tabs.show {
    display: flex;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .tab {
    width: 100%;
    border-radius: 0;
    padding: 12px 20px;
  }

  .logout {
    margin-left: 0;
    width: 100%;
    justify-content: flex-start;
  }
}
