.container-sec {
  display: flex;
  height: 63vh;
  width: 90%;
  margin: 0px auto;
  min-height: 75vh;
  z-index: -1;
  position: relative;
}
.container-sec > div {
  margin-block: 90px 0;
}
div#root {
  z-index: 0;
  position: relative;
}
.flex-sec {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 0 5px;
  font-weight: bold;
  border-radius: 5px;
}

.tab-btn.active {
  background-color: #4caf50 !important;
  color: white;
}
button.bg-red-500 {
  background: red;
}
